<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="What content here">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>CSS Lecture</title>
</head>
<body>
    <h1>Heading lvl1</h1>
    <p id="paragraph1">This is a paragraph</p>
    <p class="comicsans">This is the second paragraph</p>
    <div class="bluetext comicsans">Division 1</div>
    <div class="bluetext">Division 2</div>
    <div>Division 3</div>
    <div>Division 4</div>

    <img src="http://i.imgur.com/IEOuur3.png" alt="martin garrix"><br>

    <input type="text" name="name"><br>

    <a href="http://www.example.com" target="_blank">Visit example</a>

    <input type="hidden" name = "hiddeninput">

    <ul>
        <li>Item1</li>
        <li>Item2</li>
    </ul>

    <ol>
        <li>Item no 1</li>
        <li>Item no 2</li>
    </ol>

    <div>
        <a href="http://www.google.com">Visit Google Link 1</a>
        <p>
            Paragraph inside div
            <a href="http://www.google.com">Visit Google Link 2</a>
        </p>
    </div>
</body>
</html>