<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log you in</title>
</head>
<body>

<form action="{{ url_for("login") }}"  method = post>
<p>Username</p>
<input type="text" name ="username">

<p>Password</p>
<input type="password" name = "password">

<br>
<br>

<input type="submit" value = "Login">

</form>
<br>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <strong>{{ message }}</strong>
    {% endfor %}

{% endwith %}

<!-- Để nút login hiện thay vì submit-->


</body>
</html>